<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Bunker">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  
  <xacro:include filename="$(find bunker_unity)/urdf/bunker_macro.urdf.xacro" />
  <xacro:include filename="$(find bunker_unity)/urdf/bunker.ros2_control.xacro" />

</robot>
