<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="Bunker" type="system">
    <hardware>
      <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
      <param name="joint_commands_topic">/Bunker/joint_command</param>
      <param name="joint_states_topic">/Bunker/joint_states</param>
      <param name="sum_wrapped_joint_states">true</param>
    </hardware>
    <joint name="front_left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="front_right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <joint name="wheel1_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel1.1_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel1.2_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel1.3_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel2_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel2.1_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel2.2_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel2.3_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel3_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel3.1_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel3.2_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel3.3_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel4_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel4.1_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel4.2_joint">
        <state_interface name="position"/>
      </joint>
      <joint name="wheel4.3_joint">
        <state_interface name="position"/>
      </joint>
    
  </ros2_control>


</robot>
